/* -----------------------------------------------------------
	.footer
----------------------------------------------------------- */
.footer .main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .list-club {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin: 24px 0px;
  list-style: none;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991px) {
  .footer .list-club {
    gap: unset;
  }
}
.footer .list-club li {
  margin: 0px 8px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .footer .list-club li {
    margin-bottom: 12px;
  }
}
.footer .list-club li a {
  display: block;
  text-decoration: none;
  width: 80px;
  height: 80px;
}
@media only screen and (max-width: 991px) {
  .footer .list-club li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
.footer .list-club li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.footer .social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social-list li {
  margin: 0px 8px;
}
.footer .social-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}
.footer .logo-footer {
  margin: 14px 0px;
}
@media only screen and (max-width: 991px) {
  .footer .logo-footer {
    margin: 12px 0px;
  }
}
.footer .line {
  margin: 14px 0px;
}
@media only screen and (max-width: 991px) {
  .footer .line {
    margin: 12px 0px;
  }
}
.footer .contact {
  margin: 14px 0px;
}
@media only screen and (max-width: 991px) {
  .footer .contact {
    margin: 12px 0px;
  }
}
.footer .footer-description {
  text-align: center;
  font-size: 14px;
}
.footer .copy-right-wrapper {
  margin-top: 14px;
}
@media only screen and (max-width: 991px) {
  .footer .copy-right-wrapper {
    margin-top: 12px;
  }
}
.footer .copy-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .copy-right-wrapper .txt-copyright {
  margin-bottom: 14px;
}
@media only screen and (max-width: 991px) {
  .footer .copy-right-wrapper .txt-copyright {
    margin-bottom: 12px;
  }
}
.footer .sub-footer-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .sub-footer-menu li {
  display: flex;
  align-items: center;
}
.footer .sub-footer-menu li a {
  font-size: 14px;
  color: #fff;
}
.footer .sub-footer-menu li .dash {
  width: 4px;
  height: 1px;
  margin: 0px 8px;
  background-color: #fff;
  border: none;
}
.footer .upcoming-match-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 48px;
}
@media only screen and (max-width: 991px) {
  .footer .upcoming-match-wrapper {
    margin: 60px 0px 24px;
  }
}
.footer .upcoming-match-wrapper .title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 14px;
}
@media only screen and (max-width: 991px) {
  .footer .upcoming-match-wrapper .title {
    font-size: 16px;
  }
}
.footer .upcoming-match-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .footer .upcoming-match-wrapper ul {
    flex-direction: column;
  }
}
.footer .upcoming-match-wrapper ul li {
  margin-right: 16px;
}
.footer .upcoming-match-wrapper ul li a {
  font-size: 14px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .footer .upcoming-match-wrapper ul li a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .footer .upcoming-match-wrapper ul li {
    margin-right: 0;
  }
}

/*# sourceMappingURL=footer.css.map */
