.payment-with-crypto__wrapper {
  width: 100%;
  height: auto;
  background-color: #0f172a;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 24px;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__wrapper {
    padding-bottom: 32px;
    padding-top: 12px;
  }
}
.payment-with-crypto__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-with-crypto__header-wrapper .header__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__header-wrapper .header__title {
    font-size: 20px;
  }
}
.payment-with-crypto__header-wrapper .header__description {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__header-wrapper .header__description {
    font-size: 13px;
  }
}
.payment-with-crypto__header-timer .base-timer {
  position: relative;
  width: 56px;
  height: 56px;
}
.payment-with-crypto__header-timer .base-timer__svg {
  transform: scaleX(-1);
}
.payment-with-crypto__header-timer .base-timer__circle {
  fill: none;
  stroke: none;
}
.payment-with-crypto__header-timer .base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: #cbd5e0;
}
.payment-with-crypto__header-timer .base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}
.payment-with-crypto__header-timer .base-timer__path-remaining.green {
  color: #4a5568;
}
.payment-with-crypto__header-timer .base-timer__path-remaining.orange {
  color: #4a5568;
}
.payment-with-crypto__header-timer .base-timer__path-remaining.red {
  color: #4a5568;
}
.payment-with-crypto__header-timer .base-timer__label {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* Gray:900 */
  color: #fff;
}
.payment-with-crypto__description-content {
  width: 100%;
  margin: 16px 0px 50px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background: rgba(249, 188, 30, 0.1);
  border-radius: 8px;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__description-content {
    margin: 8px 0px 24px;
    padding: 6px 8px;
  }
}
.payment-with-crypto__description-content svg {
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__description-content svg {
    margin-right: 8px;
  }
}
.payment-with-crypto__description-content .txt-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgb(249, 188, 30);
  margin: 0;
  padding: 0;
}
.payment-with-crypto__qr-block {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__qr-block {
    flex-direction: column;
  }
}
.payment-with-crypto__qr-block .payment-detail__left .qa-code-image {
  min-width: 215px;
  max-width: 215px;
  height: 215px;
  object-fit: cover;
  margin: 0px 40px;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__qr-block .payment-detail__left .qa-code-image {
    margin: 40px 0px;
  }
}
.payment-with-crypto__qr-block .payment-detail__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.payment-with-crypto__qr-block .payment-detail__item {
  width: 100%;
  height: auto;
  border: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  margin-bottom: 32px;
}
.payment-with-crypto__qr-block .payment-detail__item:last-of-type {
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__qr-block .payment-detail__item {
    padding: 8px 16px;
    margin-bottom: 16px;
  }
}
.payment-with-crypto__qr-block .payment-detail__info-wrapper {
  display: flex;
  flex-direction: column;
}
.payment-with-crypto__qr-block .payment-detail__name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  display: inline-block;
  margin-bottom: 4px;
}
.payment-with-crypto__qr-block .payment-detail__value {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  word-break: break-all;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__qr-block .payment-detail__value {
    font-size: 16px;
    line-height: 18px;
  }
}
.payment-with-crypto__qr-block .payment-detail__btn-copy {
  background-color: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f91e4e;
  cursor: pointer;
  border: none;
  outline: none;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__qr-block .payment-detail__btn-copy {
    font-size: 14px;
    line-height: 21px;
  }
}
.payment-with-crypto__qr-block .payment-detail__btn-copy:focus {
  outline: none;
}
.payment-with-crypto__submit-block {
  margin: 36px 0px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__submit-block {
    margin: 24px 0px;
    padding: 20px;
  }
}
.payment-with-crypto__submit-block .submit-block__header-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__submit-block .submit-block__header-title {
    font-size: 16px;
    line-height: 28px;
  }
}
.payment-with-crypto__submit-block .submit-block__header-content {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin: 8px 0px 16px;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__submit-block .submit-block__header-content {
    font-size: 14px;
    line-height: 21px;
  }
}
.payment-with-crypto__submit-block .submit-block__body {
  display: flex;
  flex-direction: column;
}
.payment-with-crypto__submit-block .submit-block__body-input-text {
  display: block;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  /* Gray:400 */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* Gray:600 */
  color: #fff;
}
.payment-with-crypto__submit-block .submit-block__body-input-text::placeholder {
  color: #718096;
}
.payment-with-crypto__submit-block .submit-block__body-input-text:focus {
  outline: none;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__submit-block .submit-block__body-input-text {
    padding: 6px 8px;
  }
}
.payment-with-crypto__submit-block .submit-block__body-input-file {
  margin-top: 16px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__submit-block .submit-block__body-input-file {
    margin-bottom: 16px;
  }
}
.payment-with-crypto__submit-block .submit-block__body-input-file input[type=file] {
  display: none;
}
.payment-with-crypto__submit-block .submit-block__body-input-file .input-file-label {
  border: 1px solid #f91e4e;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #f91e4e;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__submit-block .submit-block__body-input-file .input-file-label {
    padding: 6px 24px;
  }
}
.payment-with-crypto__submit-block .submit-block__footer {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__submit-block .submit-block__footer {
    justify-content: center;
  }
}
.payment-with-crypto__submit-block .submit-block__footer-btn {
  min-width: 200px;
  padding: 10px 0px;
  text-align: center;
  background: #f91e4e;
  border-radius: 8px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.payment-with-crypto__submit-block .submit-block__footer-btn:focus {
  outline: none;
}
@media only screen and (max-width: 991px) {
  .payment-with-crypto__submit-block .submit-block__footer-btn {
    padding: 6px 0px;
  }
}

/*# sourceMappingURL=payment.css.map */
