@charset "utf-8";
@import "variables";
@import "fonts";
@import "mixins";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: $font_main;
  background-color: #0f172a;
  color: #fff;
  font-size: 14px;
}
img {
  max-width: 100%;
}
a,
button,
.btn {
  transition: all 0.4s ease;
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.list-style-none {
  list-style: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
h6,
br,
hr {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.7;
  }
}

.list-style-none {
  list-style: none !important;
}

ul,
ol {
  list-style-type: none;
}

.text-primary {
  color: $primary !important;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.w-100 {
  width: 100%;
}

.common-page-content-wrapper {
  width: 100%;
  padding: 16px 0px;

  @include mq(max_md) {
    padding: 8px 0px;
  }
}

.common-slider-banner {
  width: 100%;
  .list-slider-image {
    width: 100%;
    max-width: 100%;
    list-style: none;

    li {
      width: 100%;
      a {
        display: block;
        width: 100%;
        height: 84px;
        max-height: 84px;
        @include mq(max_md) {
          height: 52px;
          max-height: 52px;
        }
        img {
          display: block;
          width: 100%;
          max-width: 1005%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;

          @include mq(max_md) {
            border-radius: 6px;
          }
        }
      }
    }
  }
}

.common-sub-menu {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(max_md) {
    flex-direction: column;
  }

  @include mq(max_md) {
    margin: 12px 0px;
  }

  .sub-menu {
    display: flex;
    align-items: center;

    @media (max-width: 1300px) {
      max-width: 100%;
      overflow-x: auto;
      margin-right: 32px;
    }

    .menu-item {
      margin-right: 32px;

      @include mq(max_md) {
        margin-right: 24px;
      }

      a {
        display: block;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        padding-bottom: 8px;
        transition: all 0.2s ease;

        &:hover {
          border-bottom: 2px solid #f91e4e;
        }

        .icon-menu {
          min-width: 26px;
          max-width: 26px;
          height: 26px;
          object-fit: cover;
          margin-right: 14px;

          @include mq(max_md) {
            min-width: 20px;
            max-width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
        .txt-menu {
          font-size: 16px;
          color: #fff;
          @include mq(max_md) {
            font-size: 14px;
          }
        }
      }
    }
    .live-menu {
      margin-right: 15px;
      a {
        padding-bottom: 8px;
        border-bottom: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid transparent;
        }
      }
    }

    .live-item {
    }
    .status-btn-wrapper {
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      /* identical to box height */
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      text-transform: uppercase;
      font-size: 19px;
      border-radius: 10px;
      position: relative;
      width: 95px;
      color: #2ebb2e;
      height: 32px;

      .livenow {
        margin-right: 6px;
      }
    }
  }

  .search-block {
    display: flex;
    align-items: center;

    @include mq(max_md) {
      width: 100%;
      margin-top: 10px;
    }
    .input-search {
      min-width: 160px;
      max-width: 160px;
      height: auto;
      background: #334155;
      border: 0;
      border-radius: 8px;
      color: #fff;
      height: 34px;
      outline: 0;
      padding: 8px;

      @include mq(max_md) {
        flex-grow: 1;
        min-width: unset;
        max-width: unset;
      }
    }
    .btn-search {
      border: none;
      cursor: pointer;
      background-color: #f91e4e;
      border: 0;
      border-radius: 8px;
      color: #fff;
      font-weight: bold;
      height: 34px;
      margin-left: 5px;
      padding: 0 15px;

      &:focus {
        outline: none;
      }
    }
  }
}

.livenow > div {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid green;
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &:nth-child(1) {
    background-color: green;
    background-color: green;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
}

@-webkit-keyframes live {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

// common layout.
.common-main-layout-wrapper {
  width: 100%;
  display: flex;
}

.common-main-left-content-layout {
  min-width: 335px;
  max-width: 335px;
  margin-right: 24px;
  height: max-content;

  @include mq(max_md) {
    display: none;
  }
}

.common-main-right-content-layout {
  flex-grow: 1;
}

.common-layout-block {
  background-color: #1e293b;
  border-radius: 8px;
  padding-bottom: 2px;
  position: relative;

  .header-title-block {
    width: 100%;
    padding: 16px;
    .txt-title {
      font-size: 16px;
      color: #fff;
    }
  }
}

.list-league-wrapper {
  width: 100%;
}
.common-list-league {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;

  .active {
    background-color: #293445;
  }
}
.list-league-menu-mb {
  margin-top: 24px;
}

.common-league-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 16px;
  transition: all 0.2s ease;

  &:hover {
    background-color: #293445;
  }

  &:hover {
    text-decoration: none;
  }
  .league-image-common {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
  }

  .league-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }
}

.reseller-program-wrapper {
  width: 100%;
  align-items: center;
  background-color: #1e293b;
  border-radius: 8px;
  display: flex;
  margin-bottom: 15px;
  padding: 10px 15px;

  .txt-reseller {
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    margin: 0px 10px;

    @include mq(max_md) {
      font-size: 12px;
    }
  }

  .email-address {
    color: #fdc400;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    font-weight: bold;

    @include mq(max_md) {
      font-size: 12px;
    }
  }
}

.common-filter-match-block {
  width: 100%;
  align-items: center;
  background-color: #334155;
  display: flex;
  height: auto;
  border-radius: 8px 0px 0px 0px;
  .schedule-filter-label {
    background-color: #f91e4e;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px 0px 0px 0px;
    @include mq(max_md) {
      font-size: 12px;
    }
  }

  .filter-by-block {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 8px 16px;
  }
  .hot-filter-label {
    background: gray;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    @include mq(max_md) {
      font-size: 12px;
    }

    &.active {
      color: #fff;
      background-color: #f91e4e;
    }
  }
  .input-date-picker {
    background: #1e293b !important;
    border: 0;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    outline: 0;
    padding: 0 0 0 10px;
    position: relative;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      color: transparent;
      background: transparent;
    }
  }
}

.list-match-filter-wrapper {
  margin-top: 12px;
}
.common-match-filter-item {
  width: 100%;
  .header-block {
    background-color: #334155;
    border-bottom: 1px solid #334155;
    color: #fff;
    font-weight: bold;
    padding: 14px 16px;
  }
}

.common-table-league {
  width: 100%;
  .common-table-row {
    width: 100%;
    background-color: #1e293b;
    border-bottom: 1px solid #334155;
    color: #fff;
    position: relative;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      padding: 0px 16px;
    }

    @include mq(max_md) {
      flex-direction: column;
      padding: 8px 0px;
      border-bottom: none;
      margin-bottom: 10px;
    }
  }

  .txt-green {
    color: #009a5f;
    min-width: max-content;
  }

  .btn-watch {
    min-width: max-content;
    padding: 7px 8px;
    color: #fff;
    background-color: #f91e4e;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      outline: none;
    }

    .arrow-right {
      width: 0;
      height: 0;
      margin-left: 8px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;

      border-left: 6px solid white;
    }

    @include mq(max_md) {
      display: none;
    }
  }

  .left-row {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 8px;

    @include mq(max_md) {
      width: 100%;
      margin-right: 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px 12px;
      border-bottom: 1px solid #5a5656;
    }
  }

  .math-info-wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    min-width: max-content;
    margin-right: 8px;
    @include mq(max_md) {
      width: 50%;
      margin-right: 0;
    }

    .status-btn-wrapper {
      padding: 2px 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      /* identical to box height */
      background: #007649;
      border-radius: 4px;
      display: flex;
      align-items: center;

      text-transform: uppercase;

      color: #ffffff;
      .livenow {
        margin-right: 6px;
      }
    }
  }
  .live-status-wrapper {
    display: flex;
    align-items: center;

    .live-lable {
      font-size: 14px;
      color: #2ebb2e;
      margin-left: 8px;
      font-weight: bold;
    }
  }

  .match-half {
    margin: 0px 16px;
  }

  .league-name-wrapper {
    width: 60%;
    max-width: 60%;
    display: flex;
    justify-content: flex-start;

    @include mq(max_md) {
      max-width: 100%;
      width: 100%;
      justify-content: flex-end;
    }

    .league-name {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      color: #aaa;

      @include mq(max_md) {
        max-width: 45vw;
        margin: 0;
        padding: 0;
      }
    }
  }

  .right-row {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(max_md) {
      width: 100%;
      padding: 10px 0px 0px;
    }
  }

  .list-club-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;

    @include mq(max_md) {
      margin: 0;
    }

    .txt-name {
      text-align: center;
    }
    .club-item {
      width: 50%;
      display: flex;
      align-items: center;

      .club-image {
        min-width: 28px;
        max-width: 28px;
        height: 28px;
        object-fit: cover;
      }

      .club-name-wrapper {
        .club-name {
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;

          @include mq(max_md) {
            max-width: 110px;
          }
        }
      }
    }

    .first-club {
      justify-content: flex-end;

      .club-image {
        margin-left: 12px;
        @include mq(max_md) {
          margin-left: 4px;
        }
      }

      .club-name {
        text-align: right;
      }
    }

    .last-club {
      .club-image {
        margin-right: 12px;
        @include mq(max_md) {
          margin-right: 4px;
        }
      }
      .club-name {
        text-align: left;
      }
    }

    .score-wrapper {
      text-align: center;
      min-width: max-content;
      font-weight: bold;
      padding: 0px 36px;
      @include mq(max_md) {
        padding: 0px 16px;
      }
    }
  }
}

.table-match-wrapper {
  width: 100%;
  height: auto;
}

.hot-match {
  .club-name-txt, .score-match {
    color: #ffd533 !important;
  }
}

.match-table-row {
  background-color: #1e293b;
  border-bottom: 1px solid #334155;
  padding: 10px 16px;
   @include mq(max_md) {
      padding: 0;
      flex-direction: column;
      border-bottom: none;
      margin-bottom: 10px;
    }

  &:hover {
    background-color: #293445;
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    @include mq(max_md) {
      flex-direction: column;
    }
  }

  .match-left-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    @include mq(max_md) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      border-bottom: 1px solid #334155;
      padding: 6px 10px;
    }

    .live-status-wrapper {
      display: flex;
      align-items: center;

      .live-label {
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
        color: #2ebb2e;
      }
    }

    .league-name-txt {
      color: #aaa;
      font-size: 14px;
      max-width: 175px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include mq(max_md) {
        font-size: 12px;
        flex-grow: 1;
        max-width: 200px;
        text-align: right;
      }
    }
  }

  .match-right-column {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(max_md) {
      width: 100%;
      padding: 6px;
    }

    .club-list-info-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      margin: 0px 10px;

      @include mq(max_md) {
        margin: 0;
      }

      .club-info-item-wrapper {
        display: flex;
        align-items: center;
        flex-grow: 1;
        font-size: 14px;
        color: #fff;
        width: 50%;
      }

      .club-name-txt {
        flex-grow: 1;
        display: inline-block;
        font-size: 14px;
        color: #fff;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: 1300px) {
          max-width: 120px;
        }
        @media (max-width: 1200px) {
          max-width: 80px;
        }

         @media (max-width: 900px) {
          max-width: 150px
        }
          @media (max-width: 700px) {
          max-width: 150px
        }
         @media (max-width: 600px) {
          max-width: 100px;
        }
          @media (max-width: 500px) {
          max-width: 80px;
        }

         @media (max-width: 350px) {
          max-width: 60px;
        }
      }

      .score-match {
        font-weight: bold;
        font-size: 14px;
        font-weight: bold;
        margin: 0px 10px;
        min-width: max-content;

        @include mq(max_md) {
          font-size: 13px;
        }
      }

      .club-image {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
        object-fit: cover;

        @include mq(max_md) {
          min-width: 32px;
          max-width: 32px;
          height: 32px;
        }
      }

      .first-club {
        justify-content: flex-end;

        .club-name-txt {
          margin-right: 8px;
          text-align: right;
        }
      }

      .second-club {
        justify-content: flex-start;
        .club-name-txt {
          margin-left: 8px;
        }
      }
    }

    .btn-watch {
      min-width: max-content;
      padding: 7px 8px;
      color: #fff;
      background-color: #f91e4e;
      border-radius: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        outline: none;
      }

      .arrow-right {
        width: 0;
        height: 0;
        margin-left: 8px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;

        border-left: 6px solid white;
      }

      @include mq(max_md) {
        display: none;
      }
    }
  }
}

.common-collapse-content {
  z-index: 1;
  position: relative;
  height: auto;
  overflow: hidden;

  h1 {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    margin: 14px 0px;
    @include mq(max_md) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 21px;
    color: #fff;
    @include mq(max_md) {
      font-size: 18px;
    }
  }

  p {
    font-size: 14px;
    color: #fff;
    margin: 14px 0px;
    @include mq(max_md) {
      font-size: 14px;
    }
  }
  img {
    width: 500px;
    height: 315px;
    object-fit: cover;

    @include mq(max_md) {
      width: 100%;
      max-width: 100%;
      height: unset;
    }
  }
}

.common-collapse-content:before,
.common-collapse-content:after {
  -webkit-transiton: all 300ms ease;
  -moz-transiton: all 300ms ease;
  transiton: all 300ms ease;
}

.common-collapse-content.masked {
  height: 450px;
}

.common-collapse-content.open {
  padding-bottom: 30px;
}

.common-collapse-content.masked:before {
  content: "Show more";
  position: absolute;
  bottom: 0px;
  seft: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  color: #f91e4e;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #f91e4e;
}

.common-collapse-content.masked:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(249, 30, 78, 0) 50%,
    rgba(249, 30, 78, 0.15) 100%
  );
}

.common-collapse-content.open:before {
  content: "Hide";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  color: #f91e4e;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #f91e4e;
}

.common-collapse-content.open:after {
  content: none;
}

.bing-sport-live-page-wrapper {
  width: 100%;
}

.common-list-category {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  @include mq(max_md) {
    margin-bottom: 12px;
  }
  a {
    text-decoration: none;
    color: #fff !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0px 3px;

    &:hover {
      text-decoration: underline;
    }

    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #fff !important;
    }
  }

  .category-item {
    img {
      display: block;
      width: 16px;
      height: auto;
      min-width: 16px;
      object-fit: cover;
      border: none;
      border-radius: 50%;
    }

    display: flex;
    align-items: center;
  }

  .arrow {
    svg {
      @include mq(max_md) {
        fill: #1a202c !important;
      }
    }
  }
}

.bing-sport-live-content {
  padding: 16px 0px 32px;

  .top-match-info-detail {
    width: 100%;
    margin-top: 40px;
    @include mq(max_md) {
      margin-top: 32px;
    }

    .match-title {
      font-size: 28px;
      color: #fff;

      @include mq(max_md) {
        font-size: 24px;
      }
    }

    .match-description {
      font-size: 14px;
      color: #fff;
    }
  }

  .media-box-wrapper {
    margin-top: 24px;
  }

  .view-match-with-upgrade-wrapper {
    .message-trial-for-mobile-only {
      margin: 12px 0px;
      display: none;
      width: 100%;
      background: rgb(255, 170, 0);
      color: rgb(17, 17, 17);
      font-size: 16px;
      font-weight: 600;
      padding: 0.75rem 1.25rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      display: none;

      @include mq(max_md) {
        display: block;
      }
    }
  }

  .view-match-incoming-wrapper {
    width: 100%;
    height: 100%;
    .view-match-media-wrapper {
      align-items: flex-end;
      padding-bottom: 50px;
      @include mq(max_md) {
        padding-bottom: 24px;
      }
    }

    .notify-block-wrapper {
      display: flex;
      align-items: center;
      display: flex;
      align-items: center;
      background: #000000ab;
      padding: 10px 20px;
      border-radius: 8px;
      color: #fff;
      font-size: 14px;

      @include mq(max_md) {
        padding: 8px 10px;
      }
    }

    .icon-notify {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      object-fit: cover;

      @include mq(max_md) {
        min-width: 16px;
        max-width: 16px;
        height: 16px;
      }
    }

    .message-detail-wrapper {
      margin: 0px 60px 0px 20px;

      @include mq(max_md) {
        margin: 0px 30px 0px 16px;
      }

      .match-will-start {
        font-size: 18px;
        @include mq(max_md) {
          font-size: 14px;
        }
      }
      .timestamp-txt {
        font-size: 16px;
        margin-top: 4px;
        color: rgba(255, 255, 255, 0.6);

        @include mq(max_md) {
          font-size: 13px;
        }
      }
    }

    .notify-me-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #414144;
      padding: 5px 15px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 14px;
      min-width: max-content;

      @include mq(max_md) {
        padding: 4px 8px;
        font-size: 12px;
      }

      .txt-value {
        margin-left: 4px;
        position: relative;
        top: 2px;
      }
    }
  }
  .view-match-playing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 0px;

    @include mq(max_md) {
      width: 100%;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .media-box-wrapper {

  }
  .view-match-media-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/back-mask-background-image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;

    @media (max-width: 1200px) {
      padding: 10px 16px;
    }

    @include mq(max_md) {
      width: 100%;
      padding: 32px;
    }
  }

  .front-mask-content-wrapper {
    width: 100%;
    height: 610px;
    background-image: url("../images/front-mask-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1200px) {
      height: 100%;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: auto;
      background-image: unset;
      background-color: unset;
    }

    .big-logo {
      min-width: 263px;
      height: 33px;
      object-fit: cover;

      @include mq(max_md) {
        display: none;
      }
    }

    .content-description {
      margin-top: 45px;
      margin-bottom: 16px;
      font-size: 28px;
      color: #fff;
      text-align: center;

      @include mq(max_md) {
        display: none;
      }
    }

    .bottom-box-content-wrapper {
      min-width: 350px;
      max-width: 350px;
      padding: 24px 24px;
      background-color: #1e293b;
      border-radius: 55px;

      @media (max-width: 768px) {
        min-width: 100%;
        max-width: 100%;
        padding: 32px 24px;
        border-radius: unset;
      }

      .top-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 16px;

        .month-label-txt {
          font-size: 18px;
        }

        .txt-for-pc {
          display: block;

          @include mq(max_md) {
            display: none;
          }
        }

        .txt-for-mb {
          display: none;

          @include mq(max_md) {
            display: block;
          }
        }

        .main-value-txt {
          display: flex;
          font-size: 18px;
          text-transform: uppercase;
          margin-top: 5px;
          align-items: center;

          @include mq(max_md) {
            display: none;
          }

          .large-text {
            margin-left: 10px;
            font-size: 24px;
          }
        }

        .per-month-txt {
          font-size: 14px;
          @include mq(max_md) {
            display: none;
          }
        }
      }

      .list-option {
        .option-item {
          margin-bottom: 8px;
        }
      }
      .btn-upgrade {
        margin-top: 16px;
        background-color: #f91e4e;
        border-radius: 8px;
        cursor: pointer;

        display: block;
        width: fit-content;
        font-size: 18px;
        padding: 8px 24px;
        border: none;
        outline: none;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        margin: 16px auto 0px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .box-control-media-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    @include mq(max_md) {
      margin-top: 16px;
      flex-direction: column;
    }
  }
  .left-control-wrapper {
    width: 100%;
    display: flex;
    .list-option-view {
      display: flex;
      align-items: center;

      .option-view-item {
        margin-right: 8px;

        .btn-view {
          border-radius: 8px;
          cursor: pointer;
          padding: 8px 10px;
          color: #fff;
          font-size: 14px;
          text-transform: uppercase;
          border: none;
          background-color: #1e293b;
          &:focus {
            outline: none;
          }
        }

        .active {
          background-color: #f91e4e;
        }
      }
    }

    .live-by-wrapper {
      display: flex;
      align-items: center;

      .live-by-label {
        font-size: 14px;
        color: #fff;
        margin-right: 6px;
      }

      .may-image {
        min-width: 90px;
        max-width: 90px;
        height: 20px;
        object-fit: cover;
      }
    }
  }

  .left-control-wrapper,
  .right-control-wrapper {
    width: fit-content;

    @include mq(max_md) {
      width: 100%;
    }
  }

  .right-control-wrapper {
    @include mq(max_md) {
      justify-content: flex-end;
      width: 100%;
      display: flex;
      margin-top: 8px;
    }
  }

  .list-player-contact {
    display: flex;
    align-items: center;

    .list-player-contact-item {
      min-width: 36px;
      max-width: 36px;
      height: 36px;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid white;
        height: 100%;
      }
    }

    .large-list-player-contact-item {
      min-width: 85px;
      display: flex;
      justify-content: center;
      height: 36px;

      a {
        padding: 0px 8px;
        border-radius: 40px !important;

        .report-txt {
          color: #fff;
          margin-left: 8px;
        }
      }
    }
  }

  .live-list-match-incoming-wrapper {
    margin-top: 36px;
  }
}

.news-detail-football-ranking {
  width: 100%;
  height: auto;
  background: #1e293b;
  color: #fff;
  border-radius: 4px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    padding: 8px;
    align-items: center;
    background: #334155;
    color: #fff;
    border-radius: 4px;

    .league-info {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      gap: 6px;
      align-items: center;
    }

    .news-detail-league-ranking-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding: 10px 16px;
      gap: 6px;
      cursor: pointer;
      border: none;
      border-radius: 0px;
      background-color: transparent;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #fff;

      &:hover {
        background-color: #293445;
      }

      img {
        display: block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        object-fit: cover;
      }

      &:focus {
        outline: none;
      }
    }

    .league-image {
      display: block;
      width: 24px;
      min-width: 24px;
      height: 24px;
      object-fit: cover;
    }

    .league-name {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      font-family: "Poppins";
    }

    .btn-league-dropdown {
      display: flex;
      min-width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      background-color: #293445;

      &:focus {
        outline: none;
      }
    }

    .hidden {
      display: none;
    }

    .show {
      display: flex;
    }

    .news-detail-list-league-ranking-dropdown {
      position: absolute;
      top: 45px;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #1e293b;
      color: #fff;
      z-index: 999;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
    }

    @include mq(max_md) {
      display: flex;
    }
  }
}

.common-news-detail-group-table-league-ranking {
  width: 100%;
  background-color: #1e293b;
  font-size: 14px;
  color: #fff;

  .common-news-detail-group-table-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #334155;
  }

  .small-column {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .large-column {
    flex-grow: 1;
    padding: 0px 8px;
    align-items: center;
    display: flex;
  }

  .list-group-wrapper {
    width: 100%;
  }
  .group-header {
    padding: 0px 16px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #334155;
  }

  .group-row {
    display: flex;
    border-bottom: 1px solid #334155;
    .small-column {
      &:first-child {
        background-color: #475569;
      }
    }
  }

  .league-info-detail {
    display: flex;
    align-items: center;

    .league-image {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 8px;
    }

    .league-name {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.list-club-of-match-block-wrapper {
  margin: 16px 0px;
  background-color: #1e293b;
  border-radius: 8px;
  display: flex;
  width: 100%;
  padding: 24px 24px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .match-score {
    font-size: 20px;
    color: #fff;
  }

  .list-club-of-match-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }

  .match-info-detail-wrapper {
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    padding: 0px 30px;

    @include mq(max_md) {
      padding: 0px 16px;
    }

    .info-detail-line {
      margin-bottom: 4px;
      display: flex;
      align-items: center;

      .elapsed-value {
        background-color: #576172;
        border-radius: 5px;
        display: inline-block;
        margin-left: 5px;
        padding: 2px 5px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .value {
        margin-left: 5px;
        font-weight: bold;
      }
    }
  }
  .list-club-of-match-item {
    display: flex;
    align-items: center;

    .club-info-detail-wrapper {
      display: flex;
      flex-direction: column;
      @include mq(max_md) {
        display: none;
      }
    }

    .club-info-line {
      margin-bottom: 14px;
    }
    .club-image {
      min-width: 110px;
      max-width: 110px;
      height: 110px;
      object-fit: cover;

      @include mq(max_md) {
        min-width: 54px;
        max-width: 54px;
        height: 54px;
      }
    }

    &:first-child {
      .club-info-detail-wrapper {
        align-items: flex-end;
        padding-right: 16px;
      }
    }

    &:last-child {
      .club-info-detail-wrapper {
        align-items: flex-start;
        padding-left: 16px;
      }
    }
  }
}
