@charset "utf-8";
@import "variables";
@import "fonts";
@import "mixins";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: $font_main;
  background-color: #0f172a;
  color: #fff;
  font-size: 14px;
}
img {
  max-width: 100%;
}
a,
button,
.btn {
  transition: all 0.4s ease;
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.list-style-none {
  list-style: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
h6,
br,
hr {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.7;
  }
}

.list-style-none {
  list-style: none !important;
}

ul,
ol {
  list-style-type: none;
}

.text-primary {
  color: $primary !important;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.w-100 {
  width: 100%;
}

.common-page-content-wrapper {
  width: 100%;
  padding: 16px 0px;

  @include mq(max_md) {
    padding: 8px 0px;
  }
}

.common-slider-banner {
  width: 100%;
  .list-slider-image {
    width: 100%;
    max-width: 100%;
    list-style: none;

    li {
      width: 100%;
      a {
        display: block;
        width: 100%;
        height: 84px;
        max-height: 84px;
        @include mq(max_md) {
          height: 52px;
          max-height: 52px;
        }
        img {
          display: block;
          width: 100%;
          max-width: 1005%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;

          @include mq(max_md) {
            border-radius: 6px;
          }
        }
      }
    }
  }
}

.common-sub-menu {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(max_md) {
    flex-direction: column;
  }

  @include mq(max_md) {
    margin: 16px 0px;
  }

  .sub-menu {
    display: flex;
    align-items: center;

		@include mq(max_md) {
			max-width: 100%;
			overflow-x: auto;
		}

    .menu-item {
      margin-right: 32px;

      @include mq(max_md) {
        margin-right: 24px;
      }

      a {
        display: block;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        padding-bottom: 8px;
        transition: all 0.2s ease;

        &:hover {
          border-bottom: 2px solid #f91e4e;
        }

        .icon-menu {
          min-width: 26px;
          max-width: 26px;
          height: 26px;
          object-fit: cover;
          margin-right: 14px;

          @include mq(max_md) {
            min-width: 20px;
            max-width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
        .txt-menu {
          font-size: 16px;
          color: #fff;
          @include mq(max_md) {
            font-size: 14px;
          }
        }
      }
    }
    .live-menu {
      margin-right: 15px;
			a {
				padding-bottom: 8px;
				border-bottom: 2px solid transparent;;
				&:hover {
					border-bottom: 2px solid transparent
				}
			}
    }

    .live-item {
    }
    .status-btn-wrapper {
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      /* identical to box height */
      background: transparent;
      display: flex;
      align-items: center;
			justify-content: center;

      text-transform: uppercase;
			font-size: 19px;
			border: 2px solid green;
			border-radius: 10px;
			position: relative;
			width: 95px;
			color: #2ebb2e;
			height: 32px;

      .livenow {
        margin-right: 6px;
      }
    }
  }

  .search-block {
    display: flex;
    align-items: center;

    @include mq(max_md) {
      width: 100%;
      margin-top: 10px;
    }
    .input-search {
      min-width: 160px;
      max-width: 160px;
      height: auto;
      background: #334155;
      border: 0;
      border-radius: 8px;
      color: #fff;
      height: 34px;
      outline: 0;
      padding: 8px;

      @include mq(max_md) {
        flex-grow: 1;
        min-width: unset;
        max-width: unset;
      }
    }
    .btn-search {
      border: none;
      cursor: pointer;
      background-color: #f91e4e;
      border: 0;
      border-radius: 8px;
      color: #fff;
      font-weight: bold;
      height: 34px;
      margin-left: 5px;
      padding: 0 15px;

      &:focus {
        outline: none;
      }
    }
  }
}

.livenow > div {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid green;;
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &:nth-child(1) {
    background-color: green;
    background-color: green;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
}

@-webkit-keyframes live {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
