@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.fixed-header {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
    .logo img {
      max-height: 35px;
    }
  }
}
.main-header {
  position: relative;
  width: 100%;
  background: transparent;
  transition: all 0.4s ease;
  padding: 0px 40px;
  z-index: 9999999;
  background-color: #0f172a;
  @include mq(max_lg) {
    padding: 16px 0px;
  }
  .btn-menu {
    outline: 0;
    line-height: 1;
    box-shadow: none;
    margin-left: 5px;
    path {
      transition: all 0.4s ease;
    }
  }
  .logo {
    img {
      max-height: 41px;
      max-width: 176px;
      transition: all 0.4s ease;
      @include mq(max_xs) {
        max-width: 155px;
      }
    }
  }
  .col-logo {
  }
  .col-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .main-nav {
      li {
        &:first-child {
          margin-left: 0 !important;
        }
        @include mq(max_lg) {
          margin-left: 18px;
        }
        @include mq(max_md) {
          margin-left: 4px;
        }
        a {
          @include mq(max_lg) {
            font-size: 16px;
          }
          @include mq(max_md) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  li {
    width: 122px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      border-top: 3px solid transparent;
      &:hover,
      &.active {
        border-top: 3px solid #f91e4e;
        &:before {
          opacity: 0.2;
          width: 100%;
        }
      }
      &:before {
        opacity: 0;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        //background: linear-gradient(rgba(249,30,78,.4),rgba(249,30,78,.1),rgba(249,30,78,0));

        background: linear-gradient(
          180deg,
          rgba(249, 30, 78, 0) 0%,
          #f91e4e 100%
        );
      }
    }
  }

  .btn-login {
    border: 1px solid #f91e4e;
    border-radius: 8px;
    color: #f91e4e;
    cursor: pointer;
    padding: 5px 14px;
    margin-left: 16px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    cursor: pointer;
  }
}

/* -----------------------------------------------------------
	off canvas menu
----------------------------------------------------------- */
.offcanvas {
  &.show {
    width: 100%;
    border: 0;
  }
  .logo {
    img {
      max-width: 155px;
      @include mq(max_xs) {
        max-width: 155px;
      }
    }
  }
  .main-nav {
    text-align: center;
    li {
      margin-bottom: 40px;
    }
  }
}

.offcanvas-body {
  @include mq(max_md) {
    padding: 0 !important;
    background-color: #0f172a;
  }
  .menu-for-mobile {
    position: relative;
    top: 36px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    @include mq(max_lg) {
      display: block;
    }

    .btn-login-wrapper {
      width: 100%;
      padding: 0px 16px;

      .btn-login-for-mobile {
        width: 100%;
        display: block;
        cursor: pointer;
        align-items: center;
        border: 1px solid #f91e4e;
        border-radius: 8px;
        color: #f91e4e;
        cursor: pointer;
        display: flex;
        flex: 1;
        height: 40px;
        justify-content: center;
        background-color: transparent;
        text-transform: capitalize;
        &:focus {
          outline: none;
        }
      }
    }

    li {
      width: 100%;
      border-bottom: 1px solid #334155;
      a {
        display: block;
        width: 100%;
        height: auto;
        padding: 14px 16px;
        position: relative;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}

.offcanvas-header {
  @include mq(max_md) {
    padding: 0 !important;
  }
}


.popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;

  @include mq(max_md) {
    top: 8px;
    right: 8px;
  }
}
.popup__body {
  position: relative;
  max-width: 464px;
  min-width: 464px;
  background: #1e293b;;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 32px;

  @include mq(max_md) {
    min-width: 100%;
    max-width: 100%;
    padding: 12px;
  }
}

.popup--show {
  z-index:99999999999;
  opacity: 1;
}

.popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-forgot-password,
.popup-sign-in-content,
.popup-sign-up-content {
  width: 100%;
}

.authen-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
  margin-bottom: 16px;
  @include mq(max_md) {
  }
}

.authen-form-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 !important;
    border: none !important;
    background-color: transparent !important;
    margin-bottom: 16px;
    cursor: pointer;
    &:last-of-type {
      margin-bottom: 0;
    }

    .label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */
      color: #ffffff;
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
    }

    input {
      width: 100%;
      min-height: 44px;
      display: flex;
      align-items: center;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      padding: 10px 16px;
      color: #fff;
      cursor: pointer;
      margin-top: 8px;

      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        font-family: "Poppins";
        font-style: normal;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.remember-block-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .remember-block {
    label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */
      color: #ffffff;
      display: flex;
      align-items: flex-start;
      cursor: pointer;
    }

    input {
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 4px;
      margin-right: 8px;
      accent-color: #f91e4e;
      cursor: pointer;
    }
  }

  .btn-forgot-password {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* #f91e4e */

    color: #f91e4e;
    text-decoration: none;
  }
}

.login-with-apple-account{
  display: flex;
  max-width: 375px;
  min-width: 375px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-size: 14px;
  max-height: max-content;
  padding: 8px 0px;
  border-radius: 10px;
  max-height: 50px;

  svg {
    width: 100%;
    max-height: 50px;
  }

  @include mq(max_md) {
    max-width: 100%;
  }
}

.btn-register-membership {
  margin-top: 24px;
  color: #f91e4e;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;

    &:focus {
      outline: none
    };
}

.btn-text-login {
  padding: 0 !important;
  border: none !important;
  display: block;
  width: fit-content;
  margin: 0 auto;
  background: transparent !important;
  color: #f91e4e;
    cursor: pointer;
    margin-top: 24px;
    text-align: center;
    font-size: 14px;;
}

.btn-authen-wrapper {
  width: 100%;
  margin: 24px 0px;

  .btn-authen {
    width: 100%;
    display: block;
    text-align: center;
    background: #f91e4e;
    border-radius: 8px;
    padding: 10px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.viva-login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .list-viva {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .viva-item {
      margin-right: 16px;
    }
  }

  .btn-register {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* #f91e4e */

    color: #f91e4e;
    text-decoration: none;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}