@charset "utf-8";
@import "variables";
@import "mixins";

.profile-page {
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 24px;

    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 16px;
    }
  }

  &__wrapper {
    padding-bottom: 100px;
  }
  &__header-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(max_md) {
      flex-direction: column;
      align-items: flex-start;
      margin: 12px 0px;
    }
  }

  &__user-info-detail {
    display: flex;
    align-items: center;

    @include mq(max_md) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .avatar-user-wrapper {
      min-width: 144px;
      max-width: 144px;
      height: 144px;
      border-radius: 50%;
      margin-right: 24px;
      @include mq(max_md) {
        margin-right: 0;
        margin-bottom: 16px;
      }

      .avatar-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .btn-upload {
      position: relative;
      width: 144px;
      height: 144px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      transition: 0.2s;
      cursor: pointer;
      overflow: hidden;
      background-color: #edf2f7;

      @include mq(max_md) {
        width: 80px;
        height: 80px;
      }
    }

    .btn-upload input[type="file"] {
      cursor: pointer;
      position: absolute;
      left: 0%;
      top: 0%;
      transform: scale(3);
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__user-detail {
    display: flex;
    flex-direction: column;
    @include mq(max_md) {
      width: 100%;
    }

    .user-detail {
      &__username {
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #ffff;
        margin-bottom: 16px;

        @include mq(max_md) {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 8px;
        }
      }

      &__line {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        margin-bottom: 16px;

        @include mq(max_md) {
          margin-bottom: 8px;
        }
        @include mq(max_md) {
          font-size: 13px;
        }
      }

      &__primary-link {
        color: #f91e4e;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        &:hover {
          text-decoration: none;
        }
        @include mq(max_md) {
          font-size: 13px;
          min-width: max-content;
        }
      }
      &__text {
        text-decoration: none;
        color: #ffff;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin: 0px 8px;

        &:hover {
          text-decoration: none;
        }
        @include mq(max_md) {
          font-size: 13px;
          min-width: max-content;
        }
      }
      &__email {
        text-decoration: none;
        color: #ffff;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-right: 12px;

        &:hover {
          text-decoration: none;
        }
        @include mq(max_md) {
          font-size: 13px;
        }
      }
      &__secondary-link {
        text-decoration: none;
        color: #fdc400;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin: 0px 4px;
        line-height: 21px;
        @include mq(max_md) {
          font-size: 12px;
          min-width: max-content;
        }

        &:hover {
          text-decoration: none;
        }
      }
      &__label {
        margin-right: 8px;
      }
    }
  }

  &__btn-logout {
    min-width: 100px;
    padding: 8px 24px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
    line-height: 21px;
    color: #ffff;
    cursor: pointer;
    border: 1px solid #ffff;

    &:focus {
      outline: none;
    }

    @include mq(max_md) {
      margin-bottom: 16px;
    }
  }

  &__transaction-wrapper {
    padding-left: 168px;
    width: 100%;
    margin-top: 48px;

    @include mq(max_md) {
      padding-left: 0;
      margin-top: 16px;
    }
  }

  &__transaction-content {
    width: 100%;
    background-color: rgb(30, 41, 59);
    border-radius: 8px;
    padding: 24px;

    @include mq(max_md) {
      padding: 12px;
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 24px;
    }

    .transaction {
      &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 12px;

        @include mq(max_md) {
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 8px;
        }
      }

      &__list {
        width: 100%;

        @include mq(max_md) {
          margin-right: 0;
          max-width: 100%;
          overflow-x: auto;
        }
      }
      &__row {
        display: flex;
        border-bottom: 1px solid rgb(51, 65, 85);
        padding: 10px 12px;
        transition: all 0.2s ease;
        color: #fff;

        @include mq(max_md) {
          min-width: max-content;
        }

        &:hover {
          background-color:  rgb(51, 65, 85);
        }

        .column-10 {
          width: 10%;
          @include mq(max_md) {
            min-width: 100px;
          }
        }
        .column-20 {
          width: 20%;
          @include mq(max_md) {
            min-width: 200px;
          }
        }
        .column-30 {
          width: 30%;
          @include mq(max_md) {
            min-width: 335px;
          }
        }
        .column-40 {
          width: 40%;
          @include mq(max_md) {
            min-width: 375px;
          }
        }

        &:first-of-type {
          border-top: 1px solid rgb(51, 65, 85);
        }

        @include mq(max_md) {
          padding: 6px 8px;
        }
      }

      &__column {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        min-width: max-content;
        text-align: left;
        display: flex;
        align-items: center;

        @include mq(max_md) {
          font-size: 14px;
          line-height: 21px;
        }


        &:last-of-type {
          text-align: right !important;
          justify-content: flex-end;
        }
        &:first-of-type {
          justify-content: flex-start !important;
        }
      }
      &__btn-view {
        min-width: 58px;
        height: auto;
        padding: 6px 12px;
        text-align: center;
        border: none;
        cursor: pointer;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        background: #f91e4e;
        color: #ffff;
        border-radius: 4px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}


.user-profile-menu {
  display: flex;
  margin-left: 12px;
  align-items: center;

  @include mq(max_md) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .left-icon {
    display: flex;
    align-items: center;
    margin-right:8px;

    .icon-start{
      min-width: 16px;
      max-width: 16px;
      height: 16px;
      object-fit: cover;
    }

    .vip-txt {
      text-transform: uppercase;
      font-weight: bold;;
      color: #ffd533;
      font-size: 20px;
      margin: 0 5px;
    }
  }

  .user-avatar {
    min-width: 32px;
    max-width: 32px;
    height: 32px;;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}